<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/96eb6d9ad8.js" crossorigin="anonymous"></script>
    <!-- <script src="https://checkout.stripe.com/checkout.js" defer></script> -->
    <script>
        var stripePublicKey = '<%= stripePublicKey %>'
        var id = '<%= data.id%>'
        var title = '<%=data.name%>'
        var price  = '<%=data.price%>'
        console.log(id)

    </script>
    <script defer src="/js/cart.js"></script>
</head>
<body id="cart">
    <div class="main-cart">
        <div>
            <img id="cart-img" width="200" src="<%=data.coverimg%> " alt="">
        </div>
        <div>

           <div class="cart-details">
            <p><%= data.name %> </p>
            <p class="price">price: <%- data.price %>$</p>
           </div>
            <div>
            <!-- <i class="fa-solid fa-credit-card"></i></div> -->
            <button class="order-btn">pay with stripe</button>
        </div>
    </div>

  


</body>
</html>