<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/script.js" defer></script>
    <link rel="stylesheet" href="/css/style.css">
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body style="color: aliceblue;">


    <!-- <nav>

        <div class="hamburger-container">
            <input type="checkbox" name="" id="hamburger-menu" />
            <div class="hamburger-item"><div></div></div>
            <div class="hamburger-lists">
              <ul>
                <li>Collections</li>
                <li>Men</li>
                <li>Women</li>
                <li>About</li>
                <li>Contacts</li>
              </ul>
            </div>
          </div>


        <div class="navbar">
        <h2><a href="/"><img id="index-headlogo" src="/images/logo.png" alt=""></a></h2>
        <ul><div class="navbtns">
            <li><a href="/catalogue">explore</a></li>
        

            <%if (locals.session.isAdmin==true) { %>
                <li><a href="/catalogue/upload">upload</a></li>
                <% } %>
                <li><a href="/about">about</a></li>
            <%if (locals.session.isAuth==false) { %>
            <li><a href="/auth/login">login</a></li>
            <% }else{ %>
            <li></form>
            <form action="/auth/logout" method="post">
                <button class="logoutbtndetails">logout</button>
            
            </form></li>
              <%}%>
             </div>  
        </ul>
    </div>
    </nav> -->

    <%- include ('./layouts/navbar') %>

   
    <!-- <h2 ><a style="display: inline;" href="/"><img id="headlogo" src="/images/logo.png" alt=""></a></h2> -->

        <!-- <a href="/"><img id="headlogo" src="./images/geometrical-shape.png" alt=""></a>  -->
   
    <!-- <img src="/images/Untitled design (2).png" alt=""> -->
    <!-- <div class="flex-container">
    <model-viewer class="model" src="/images/isosphere11.glb" camera-controls ></model-viewer>
    <model-viewer class="model" src="/images/isosphere11.glb" camera-controls ></model-viewer>
    <model-viewer class="model" src="/images/isosphere11.glb" camera-controls ></model-viewer>
    <model-viewer class="model" src="/images/isosphere11.glb" camera-controls ></model-viewer>
    <model-viewer class="model" src="/images/isosphere11.glb" camera-controls ></model-viewer>
    <model-viewer class="model" src="/images/isosphere11.glb" camera-controls ></model-viewer>
    <model-viewer class="model" src="/images/isosphere11.glb" camera-controls ></model-viewer>
    <model-viewer class="model" src="/images/isosphere11.glb" camera-controls ></model-viewer>

</div> -->

<div class="catalogue-container">
    <form class="search-form" action="/catalogue" method="get">
        <div class="search-container">
            <!-- <h2>search model</h2> -->

                <!-- <label >title</label> -->
                <input id="srchbox"  type="text" placeholder="search for 3d models..." name="title"  value="<%= searchOptions.title %>">
                <button class="srch-submit" type="submit"><span class="search-btn-circle-cont">
                    <i  class="fa-solid fa-magnifying-glass"></i>
                </span></button>
            <!-- <div>
            </div> -->
        </div>
    </form>
    <!-- <form action="/auth/logout" method="post">
        <button class="logoutbtnct">logout</button>
    
    </form> -->
    <div class="model-container">
       
        <% models.forEach(model =>  { %>
            <div class="cont">
           <a class="model-link" href="../catalogue/details/<%= model.id %>">
            <img class="modelcls" src="<%= model.coverImagep %>" ></a>
            <div class="details-hover">
                <span><h3><%=model.title%></h3></span> <h4><%=model.price%>$</h4>
            </div>
        </div>
        <% }) %> 
    </div>
    <br>
    
    
    <!-- <button><a href="/catalogue/upload">upload</a></button> -->
    <div></div>
</div>

<!-- <div class="redirec"><button class="login" onclick="window.location.href='http://localhost:5000/auth/login'">click to login</button></div> -->
</body>
</html>